body{
    background-image:linear-gradient(lightblue,purple) 
   }


/*Sub heading*/
.s{
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    text-indent: initial;
    background-color: cadetblue;
    }
 
    h4{
        text-align: left;
        font-size:25px;
        font-weight: 1000;
        text-decoration: underline;
            }

/*Navigation Bar*/
.navbar{
    background-color:teal;
}
.navbar ul{
       overflow:auto;
       list-style:none;
    }
    .navbar li a{
       float:right;
       display:block;
       padding:10px;
       text-decoration: none;
       text-align: center;
       font-size: 20px;
       color:snow;
       
    }
    
    
    /*Heading*/
    
    div.heading{
        background-color:rgb(14, 14, 87);
 
        padding :10px 10px 10px 10px;
        
    }
    h2.heading{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight: 1000;
       font-style:italic;
       font-size: 20px;
       position:relative; 
       color:white;    
       
    }
    h1.heading{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        font-size: 50px;
        position:relative;
        color:white;
        margin-top: 20px;
        
    }
    img.heading{
        height:140px;
        width:130px;
        float:left;
        margin-right: 15px;
    }
    
    
    /*Main Content*/
    p{
        padding:10px 10px 10px 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p.one{
      font-style:oblique;
        width:1000px;
    }
    p.second , ol{
       /* display:inline-block;*/
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
        p.fourth{
            font-style: oblique;}
    
            h5{
                background-color:darkgoldenrod;
                width:500px;
                font-size: 15px;
            }
            h6{
                background-color: darksalmon;
                width:600px;
                font-size:20px;
            }


            img.a{
                float:right;

            }
            img.b{
                float:left;
                height:150px;
                width:150px;
                margin-right: 10px;
            }
            img.c{
                float:right;
                width:300px;
                height:200px;
                margin-left:10px;
            }
            img.d{
                float:left;
                width: 200px;
                height:175px;
                margin-right:10px;
                margin-bottom:10px;
            }
            img.e{
                float:left;
                width:300px;
                height:200px;
                margin-left:10px;
                margin-right:50px;
            }
            img.f{
                float:right;
                width:350px;
                height:275px;
                margin-right:10px;
                margin-left:10px;
            }
            img.g{
                float:right;
                width:300px;
                height:275px;
                margin-right: 10px;
                margin-left: 10px;

            }
            img.h{
                float:left;
                margin-right: 10px;
                margin-left: 10px;
                height:155px;
            }
            img.i{
                float:right;                
            }
            img.j{
                float:left;
                margin-right: 10px;
                height:150px;
            }
            img.k{
                padding:15px 15px 15px 15px;
                height:250px;
                width:400px;
                float:left;
            }